.home-container {
  background-color: #f3f7ff;
  padding: 4rem;
  display: flex;
  flex-direction: row;

  .buttons {
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

    .btn-previous {
      border-color: #28a745;
      background-color: #28a745;
      color: #ffffff;
      width: 85px;

      &:hover {
        background-color: #258d3d;
        color: #ffffff;
      }
    }
    .btn-next {
      border-color: #0d2461;
      background-color: #0d2461;
      color: #ffffff;
      width: 85px;
      &:hover {
        background-color: #0a1942;
        color: #ffffff;
      }
    }
  }

  .stepper-section {
    display: flex;
    flex-grow: 1;
    .step-indicator {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 9rem 2rem 3rem 4rem;

      @media (max-width: 782px) {
        padding: 1rem;
      }
    }
  }

  @media (max-width: 782px) {
    flex-direction: column-reverse;
  }
}
